<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Posts</title>
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">BlogApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div align="center">
    <h2>Searched Posts</h2>

    <div align="right"><a th:href="@{/}">Home</a></div>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Excerpt</th>
            <th>Published At</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td><a th:text="${post.title}" th:href="@{'/blogPost/'+ ${post.id}}"></a></td>
            <td th:text="${post.excerpt}"></td>
            <td th:text="${post.publishedAt}"}></td>
            <td th:text="${post.author}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>